<script>
  function myFunction() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    document.execCommand("copy");
  }
</script>

<form action="/events/<%= poll.eventRecord[0].poll_url %>/vote" method="POST">
  <!-- Title information -->
  <div class="container">
    <%- include('_poll_title') %>
  </div>
  <% if (locals.message) { %>
  <div class="alert alert-danger">
    <%= locals.message %>
  </div>
  <% } %>
  <!-- Current voter information -->
  <div class="container align-items-center justify-content-center">
    <%- include('_poll_user_form') %>
  </div>

  <div class="container align-items-center justify-content-center">
    <%- include('_poll_vote_tbl') %>
  </div>
  <input type="submit" id="sendVote" class="btn btn-primary" value='VOTE'>
</form>